################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/assignment3/GameTestSolution/.vs/GameTestSolution
